.shop_page {
    text-align: center;
}

.shop_header {
    position: relative;
}

.mt_0 {
    margin-top: 0;
}

.shop_header h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 2rem;
}

.shop_header span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
}

.shop_header>img {
    margin-top: 2rem;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.shop_products {
    padding: 1rem 15rem;
}

.header_filter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.25rem;
    top: 50%;
    background: #F9F1E7;
    padding: 0.5rem 10rem;
}

.filter_child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.filter_grandchild1 {
    display: flex;
    gap: 1rem;
}

.filter_grandchild11 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.filter_grandchild2 {
    border-left: 1px solid black;
    padding-left: 1rem;
}

.filter_btn {
    font-size: 1.25rem;
    color: #9F9F9F;
    background: white;
    padding: 1rem;
}

.right_padding {
    padding-right: 3.5rem;
}

.shop_products_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

.product_btn {
    padding: 1rem 1.5rem;
    background: #F9F1E7;
    border-radius: 5px;
    font-size: 1.25rem;
}

.product_btn_active {
    padding: 1rem 1.5rem;
    background: #B88E2F;
    border-radius: 5px;
    color: white;
    font-size: 1.25rem;
}

.shop_support {
    background: #FAF3EA;
    width: 100%;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
}