.singlepage img {
    background: #F9F1E7;
    border-radius: 0.625rem;
}

.page_header {
    height: 5rem;
    background: #F9F1E7;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    color: #9F9F9F;
}

.header_span {
    display: flex;
    gap: 0.85rem;
}

.page_header_span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.single_page_product_pictures {
    display: flex;
    gap: 2rem;
    width: 50%;
}

.side_pictures {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main_picture img {
    /* height: 31rem;
    width: 27rem;
    object-fit: cover; */
    width: 100%;
    height: 100%;
}

.single_page_product {
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    padding: 3rem 5rem;
}

.single_page_product_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 2rem;
}

.single_page_product_info h2 {
    font-weight: 500;
    color: #000000;

}

.single_page_product_info h4 {
    font-weight: 500;
    color: #9F9F9F;
}

.single_page_product_info p {
    font-size: 0.8125rem;
    max-width: 60%;
}

.user_review {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.stars {
    display: flex;
    gap: 0.5rem;
    color: #FFC700;
}

.customer_review {
    border-left: 1px solid #9F9F9F;
    padding-left: 1rem;
    color: #9F9F9F;
    font-size: 0.8125rem;
}

.single_size_btn,
.single_clr_btn {
    display: flex;
    gap: 1rem;
}

.size_btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
}

.single_addtocart {
    display: flex;
    gap: 2rem;
}

.plus_minus {
    border-color: #9F9F9F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;
    width: 15%;
}

.social {
    padding: 0 0 2rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 42%;
    border-bottom: 1px solid #D9D9D9;

}

.social_info {
    color: #9F9F9F;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social_logo {
    display: flex;
    gap: 1rem;
    color: #000000;
    cursor: pointer;
}