.products {
    text-align: center;
    padding: 1rem 2rem;
}

.all_products {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

/* .all_products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    gap: 1rem;
} */

.product_info {
    display: flex;
    flex-direction: column;
    max-width: 17.8125rem;
    position: relative;
}

.new::before {
    content: 'New';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #2EC1AC;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 150%;
    font-size: 0.5rem;
    top: 1.5rem;
    right: 1.5rem;
}


.sale50::before {
    content: '-50%';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #E97171;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 150%;
    font-size: 0.5rem;
    top: 1.5rem;
    right: 1.5rem;
}

.product_info img {
    width: 100%;
    object-fit: cover;
}

.product_info_des {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    text-align: left;
    padding: 1rem;
    background: #F4F5F7;
}

/* .product_info_des>h4 {
    color: #3A3A3A;
    line-height: 120%;
    font-weight: 600;
    font-size: 0.85rem;
} */

.product_info_des>h6 {
    color: #898989;
    line-height: 150%;
}

/* .product_info_des>h5 {
    color: #3A3A3A;
    line-height: 150%;
} */

.side_by_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side_by_side s {
    font-size: 0.85rem;
    color: #B0B0B0;
}

.side_by_side h5 {
    color: #3A3A3A;
}

.product_info_cart button {
    background: white;
    color: #B88E2F;
    padding: 1rem 2rem;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 150%;
}

.info_cart_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 1rem;
    gap: 0.5rem;
}

.info_cart_btn span,
.compare_link {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
}

.show_more {
    background: white;
    border: 1px solid #B88E2F;
    color: #B88E2F;
    padding: 0.35rem 1rem;
    font-size: 0.5rem;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 1rem;

}

.product_container {
    position: relative;
    margin-bottom: 1.5rem;
}

.product_info_cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(58, 58, 58, 0.7);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

.product_container:hover .product_info_cart,
.product_container:focus-within .product_info_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width:1024px) {
    .products {
        padding: 0 5rem 5rem 5rem;
    }

    .all_products {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .product_info {
        display: flex;
        flex-direction: column;
        width: 17.8125rem;
        position: relative;
        cursor: pointer;
        transition: 0.3s;
    }

    .product_info:hover {
        filter: opacity(0.9)
    }

    .new::before {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
    }


    .sale50::before {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
    }

    .product_info img {
        width: 100%;
        height: 18.125rem;
        object-fit: cover;
    }

    .product_info_des {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        text-align: left;
        padding: 1rem;
        background: #F4F5F7;
    }

    /* .product_info_des>h4 {
        color: #3A3A3A;
        line-height: 120%;
        font-weight: 600;
        font-size: 0.85rem;
    } */

    .product_info_des>h6 {
        color: #898989;
        line-height: 150%;
    }

    .product_info_des>h5 {
        color: #3A3A3A;
        line-height: 150%;
    }

    .product_info_cart button {
        padding: 1rem 3rem;
    }

    .info_cart_btn {
        gap: 1rem;
    }

    .show_more {
        background: white;
        border: 1px solid #B88E2F;
        color: #B88E2F;
        padding: 0.75rem 4rem;
        font-size: 1rem;
        font-weight: 600;
        line-height: 150%;
        margin-top: 2rem;
    }

    .product_container {
        margin-bottom: 2rem;
    }

}