.products {
    text-align: center;
    padding: 0 5rem 5rem 5rem;
}

.product_info {
    display: flex;
    flex-direction: column;
    width: 17.8125rem;
    height: 27.875rem;
}

.product_info img {
    width: 100%;
    height: 18.125rem;
    object-fit: cover;
}

.product_info_des {
    text-align: left;
    padding: 1rem;
    background: #F4F5F7;
}

.product_info_des>h4 {
    color: #3A3A3A;
    line-height: 120%;
    font-weight: 600;
}

.product_info_des>h6 {
    color: #898989;
    line-height: 150%;
}

.product_info_des>h5 {
    color: #3A3A3A;
    line-height: 150%;
}

.side_by_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side_by_side s {
    font-size: 1rem;
    color: #B0B0B0;
}