.products {
    text-align: center;
    padding: 0 5rem 5rem 5rem;
}

.all_products {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.product_info {
    display: flex;
    flex-direction: column;
    width: 17.8125rem;
    position: relative;
}

.new::before {
    content: 'New';
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #2EC1AC;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 150%;
    font-size: 1rem;
    top: 1.5rem;
    right: 1.5rem;
}

.sale30::before {
    content: '-35%';
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #E97171;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 150%;
    font-size: 1rem;
    top: 1.5rem;
    right: 1.5rem;
}

.sale50::before {
    content: '-50%';
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #E97171;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 150%;
    font-size: 1rem;
    top: 1.5rem;
    right: 1.5rem;
}

.product_info img {
    width: 100%;
    height: 18.125rem;
    object-fit: cover;
}

.product_info_des {
    text-align: left;
    padding: 1rem;
    background: #F4F5F7;
}

.product_info_des>h4 {
    color: #3A3A3A;
    line-height: 120%;
    font-weight: 600;
}

.product_info_des>h6 {
    color: #898989;
    line-height: 150%;
}

.product_info_des>h5 {
    color: #3A3A3A;
    line-height: 150%;
}

.side_by_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.side_by_side s {
    font-size: 1rem;
    color: #B0B0B0;
}

.side_by_side h5 {
    color: #3A3A3A;
}

.product_info_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(58, 58, 58, 0.7);
    top: 0;
    left: 0;
    width: 17.8125rem;
    height: 25.825rem;
}

.product_info_cart button {
    background: white;
    color: #B88E2F;
    padding: 1rem 3rem;
}