.support {
    background: #FAF3EA;
    width: 100%;
    height: 50%;
    padding: 1rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.support_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.support_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
    font-size: 1rem;
}

.support_data {
    display: flex;
    gap: 0.5rem;
    text-align: left;

    & span>h5 {
        color: #242424;
    }
}

@media (min-width:640px) {
    .support_logo {
        font-size: 1.5rem;
    }

    .support_wrapper {
        gap: 1rem;
    }
}

@media (min-width:768px) {
    .support {
        padding: 1rem 1.5rem;
    }

    .support_logo {
        font-size: 2rem;
    }

    .support_wrapper {
        gap: 1.5rem;
    }
}

@media (min-width:1024px) {
    .support {
        padding: 2rem;
    }

    .support_wrapper {
        gap: 2rem;
    }
}

@media (min-width:1280px) {
    .support {
        padding: 3rem;
    }

    .support_wrapper {
        gap: 2.5rem;
    }
}

@media (width<320px) {
    .support_wrapper {
        flex-wrap: wrap;
    }
}