.hero_section {
    position: relative;
}

.hero_img img {
    width: 100%;
}

.hero_info {
    width: 42%;
    height: 60%;
    padding: 3.875rem 2.5rem 2.5rem 2.5rem;
    background: #FFF3E3;
    border-radius: 0.625rem;
    position: absolute;
    right: 6rem;
    bottom: 7.75rem;
}

.hero_info h6 {
    letter-spacing: 0.1875rem;
    font-weight: 600;
}

.hero_info h1 {
    text-align: left;
    max-width: 12ch;
}

.hero_info p {
    margin-top: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #333333;
}

.filled_btn {
    background: #B88E2F;
    color: white;
    font-size: 1rem;
    padding: 1.5625rem 4.5rem;
    margin-top: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}