.category {
    text-align: center;
    padding: 5rem 10rem;
}

.category>p {
    font-size: 1.25rem;
    font-weight: 500;
    color: #666666;
}

.category_data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 3.5rem;
}

.category_data_img {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 2rem;
    transition: 0.3s;
}

.category_data_img:hover {
    opacity: 0.8;
}

.category_data_img>h4 {
    font-weight: 600;
}