.checkout_data {
    padding: 4rem 5rem;
}

.checkout_data {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
}

.user_name {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.select {
    border: 1px solid #9F9F9F;
    border-radius: 0.625rem;
    width: 33rem;
    height: 5rem;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1rem;
    color: #9F9F9F;
}

.width_50 input {
    width: 15.5rem;
}

.contact_data_form {
    width: 50%;
}

.contact_data_info {
    width: 50%;
    margin-top: 3rem;
}

.info_heading,
.info_product,
.info_subtotal,
.info_total,
.info_product>h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.data_info_first_child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 2rem;
}

.info_heading>h4 {
    font-weight: 500;
}

.info_subtotal h5,
.info_total h5 {
    font-weight: 500;
}

.info_total h4 {
    color: #B88E2F;
}

.payment_method {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.opacity {
    color: #9F9F9F;
}

.data_info_second_child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.width_50_btn {
    width: 40%;
    margin-inline: auto;
    margin-top: 2rem;
}