.contact {
    overflow-x: hidden;
}

.contact_header {
    position: relative;
}

.header_bg img {
    width: 100%;
}

.header_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_info img {
    width: 20%;
}

.header_info h2 {
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
}


.header_info span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    font-weight: 600;
}

.header_info span span {
    font-weight: 400;
}

.contact_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

/* .contact_title>h3 {
    font-size: 2.25rem;
    font-weight: 600;
} */

.contact_title>p {
    text-align: center;
    color: #9F9F9F;
}

.contact_data {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 70%;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.contact_data_info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.data_info_child {
    display: flex;
    gap: 0.35rem;
}

.data_info_child_logo {
    font-size: 0.85rem;
}

.data_info_child_data>span {
    font-size: 0.45rem;
    font-weight: 300;
    opacity: 0.9;
}

.contact_data_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.form_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
    font-weight: 600;
    gap: 0.25rem;
    width: 100%;
}

.input_simple {
    border: 1px solid #9F9F9F;
    border-radius: 0.625rem;
    width: 70%;
    font-size: 0.45rem;
    font-weight: 500;
    padding: 0.45rem;
}

.input_para {
    padding-bottom: 2rem;
}

.form_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3125rem;
    padding: 0.5rem 1rem;
    margin-top: 0;
}


@media (min-width:640px) {
    .header_info img {
        width: 25%;
    }

    .header_info h2 {
        font-size: 1.25rem;
    }


    .header_info span {
        font-size: 0.65rem;
        gap: 0.35rem;
    }

    .data_info_child_data>span {
        font-size: 0.5rem;
        font-weight: 300;
        opacity: 0.9;
    }

    .form_label {
        font-size: 0.65rem;

    }

    .input_simple {
        font-size: 0.5rem;
        padding: 0.5rem;
    }

    .input_para {
        padding-bottom: 2.5rem;
    }

}

@media (min-width:768px) {
    .header_info img {
        width: 30%;
    }

    .header_info h2 {
        font-size: 1.5rem;
    }


    .header_info span {
        font-size: 0.75rem;
        gap: 0.5rem;

    }

    .form_label {
        font-size: 0.75rem;

    }

    .input_simple {
        font-size: 0.65rem;
        padding: 0.5rem;
    }
}

@media (min-width:1024px) {
    .header_info img {
        width: 35%;
    }

    .header_info h2 {
        font-size: 1.75rem;
    }


    .header_info span {
        font-size: 0.85rem;
        gap: 0.75rem;

    }


    .contact_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
    }

    .contact_title>h3 {
        font-size: 2.25rem;
        font-weight: 600;
    }

    .contact_title>p {
        text-align: center;
        color: #9F9F9F;
    }

    .contact_data {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        gap: 3rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    .contact_data_info {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .data_info_child {
        display: flex;
        gap: 1rem;
    }

    .data_info_child_logo {
        font-size: 1.375rem;
    }

    .data_info_child_data>span {
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.9;
    }

    .contact_data_form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .form_label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        font-weight: 600;
        gap: 0.75rem;
    }

    .form_label>input {
        border: 1px solid #9F9F9F;
        border-radius: 0.625rem;
        width: 33rem;
        height: 5rem;
        font-size: 1rem;
        font-weight: 500;
        padding-left: 1rem;
    }

    .form_btn {
        width: 14rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.3125rem;
    }
}