.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0.75rem;

}

.navbar_logo {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    cursor: pointer;
}

.logo_img {
    width: 20%;
    display: grid;
    place-items: end;
}

.logo_name {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.navbar_links,
.navbar_icons {
    display: none;
}

.nav_hamburger {
    display: inline-block;
}

.nav_menu_btn {
    font-size: 1rem;
    color: #000000;

}

@media (min-width:426px) {
    .navbar {
        padding: 1.125rem 2rem;

    }

    .logo_name {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .toggle_menu {
        position: absolute;
        top: 37.5%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 999;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .nav_menu_btn {
        font-size: 1.25rem;

    }
}

@media (min-width:769px) {

    .navbar {
        padding: 1.8125rem 3.375rem;
        gap: 1rem;
    }

    .logo_img img {
        width: 100%;
        display: grid;
        place-items: center;
    }

    .logo_name {
        font-size: 2.125rem;
        font-weight: 700;
    }

    .navbar_links {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .navbar_links li {
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;
    }

    .navbar_links li:hover {
        color: #B88E2F;
        scale: 1.1;

    }

    .navbar_icons {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .navbar_icons button {
        font-size: 1.5rem;
        color: #000000;
        transition: 0.3s;
    }

    .navbar_icons button:hover {
        color: #B88E2F;
        scale: 1.05;
    }

    .toggle_sidebar {
        position: absolute;
        top: 12%;
        right: 0;
        z-index: 999;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .nav_hamburger {
        display: none;
    }
}