.carousel {
    background: #FCF8F3;
    padding: 2.5rem 0 2.5rem 4rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    overflow-x: hidden;
}

.carousel_info {
    width: 30%;
}

.carousel_btn {
    padding: 1.15rem 2.5rem;
    margin-top: 1.5rem;
}

.carousel_data {
    position: relative;
    display: flex;
    gap: 1.5rem;
    width: 70%;
}

.carousel_slide {
    position: relative;
}

.slide_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 13.5625rem;
    padding: 1.5rem;
}

.slide_description p {
    display: flex;
    align-items: center;
}

.arrow_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B88E2F;
    color: white;
    font-size: 1.5rem;
    padding: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 13.625rem;
}

.slide_radio_active {
    display: flex;
    align-items: center;
    color: #B88E2F;
    font-size: 1rem;
}

.carousel_slide_radio {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 2.5rem;
}

.slide_radio {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #D8D8D8;
}

.next_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: white;
    color: #B88E2F;
    font-size: 1.25rem;
    position: absolute;
    right: 2%;
    bottom: 50%;


}