.carousel {
    background: #FCF8F3;
    padding: 1rem 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
}

.carousel_info p {
    max-width: 70%;
}

.carousel_btn {
    padding: 0.35rem 0.5rem;
    margin-top: 0.5rem;
}

.carousel_data {
    position: relative;
    display: flex;
    gap: 1rem;
    width: 100%;
}

.carousel_slide_img {
    width: 100%;
    position: relative;
}

.slide_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 5%;
    left: 1%;
    width: 20%;
    padding: 0.5rem;
}

.slide_description p {
    display: flex;
    align-items: center;
    font-size: 0.5rem;
}

.arrow_btn_right {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B88E2F;
    color: white;
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    position: absolute;
    bottom: 5%;
    left: 21%;
}

.slide_radio_active {
    display: flex;
    align-items: center;
    color: #B88E2F;
    font-size: 0.65rem;
}

.carousel_slide2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.carousel_slide_radio {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.slide_radio {
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 50%;
    background: #D8D8D8;
}

.next_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: white;
    color: #B88E2F;
    font-size: 1.25rem;
    position: absolute;
    right: 3%;
    bottom: 50%;
}

@media (min-width:640px) {
    .carousel_slide_radio {
        gap: 0.75rem;
    }

    .slide_radio {
        width: 0.5rem;
        height: 0.5rem;
    }

    .slide_radio_active {
        font-size: 0.75rem;
    }

    .slide_description p {
        font-size: 0.65rem;
    }

    .arrow_btn_right {
        width: 1.25rem;
        height: 1.25rem;
        font-size: 0.75rem;

    }
}

@media (min-width:768px) {

    .slide_radio {
        width: 0.6rem;
        height: 0.6rem;
    }

    .slide_radio_active {
        font-size: 0.85rem;
    }

    .slide_description p {
        font-size: 0.75rem;
    }

    .arrow_btn_right {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;

    }
}

@media (min-width:1024px) {
    .carousel {
        background: #FCF8F3;
        padding: 2.5rem 0 2.5rem 4rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1.5rem;
        overflow-x: hidden;
    }

    .carousel_info {
        flex: 3;
    }

    .carousel_info p {
        max-width: 70%;
    }

    .carousel_btn {
        padding: 1rem 2rem;
        margin-top: 1.5rem;
    }

    .carousel_data {
        position: relative;
        display: flex;
        gap: 1.5rem;
        flex: 7;
    }

    .slide_description {
        padding: 1rem;
    }

    .slide_description p {
        font-size: 0.85rem;
    }

    .arrow_btn_right {
        width: 2rem;
        height: 2rem;
        font-size: 1.25rem;
    }

    .slide_radio_active {
        font-size: 1rem;
    }

    .carousel_slide_radio {
        margin-top: 1.5rem;
    }

    .slide_radio {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: #D8D8D8;
    }

    .next_btn {
        width: 3rem;
        height: 3rem;
        font-size: 1.25rem;
        position: absolute;
        right: 3%;
        bottom: 50%;
    }

}