.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    position: relative;
}

.footer_links2,
.arrow_btn,
.footer_links>h6 {
    display: none;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    /* margin-right: 2rem; */

}

.footer_links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.footer_links li {
    font-size: 0.4rem;
    font-weight: 400;
    border-bottom: 1px solid #B88E2F;
}

.email_sub {
    display: flex;
    gap: 0.5rem;
}

.email_sub input {
    font-size: 0.4rem;
    padding-right: 0.25rem;
    padding-bottom: 0.15rem;
    border-bottom: 1px solid #B88E2F;
}

.email_btn {
    font-size: 0.4rem;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    border-bottom: 1px solid #B88E2F;
}

@media (width<319px) {
    .email_sub {
        display: none;
    }

    .footer_links {
        gap: 0.25rem;
        flex-wrap: wrap;

    }
}

@media (min-width:640px) {

    .footer_links li,
    .email_sub input,
    .email_btn {
        font-size: 0.5rem;
    }
}

@media (min-width:768px) {
    .footer {
        padding: 1.5rem;
        gap: 2rem;
    }

    .footer_logo {
        display: flex;
        flex-direction: column;
        flex: 4;
    }

    .footer_logo p {
        margin-top: 3rem;
        color: #9F9F9F;
        font-weight: 400;
    }

    .footer_nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 6;
        margin-right: 2rem;
    }

    .footer_links,
    .footer_links2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }

    .footer_links li,
    .footer_links2 li {
        font-size: 0.65rem;
        font-weight: 500;
        border-bottom: none;
    }

    .footer_links>h6,
    .footer_links2>h6 {
        display: block;
        color: #9F9F9F;
        margin-bottom: 0.5rem;
        font-size: 0.65rem;
    }

    .email_sub {
        display: flex;
        gap: 0.5rem;
    }

    .email_sub input {
        font-size: 0.5rem;
        padding-right: 1rem;
        border-bottom: 1px solid black;
    }

    .email_btn {
        font-size: 0.5rem;
        font-weight: 500;
        color: #000000;
        text-transform: uppercase;
        border-bottom: 1px solid black;
    }

}

@media (min-width:1024px) {
    .footer {
        padding: 2rem 3rem;
    }

    .footer_logo {
        display: flex;
        flex-direction: column;
        flex: 4;
    }

    .footer_logo p {
        margin-top: 3rem;
        color: #9F9F9F;
        font-weight: 400;
    }

    .footer_nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 6;
        margin-right: 4rem;
        gap: 1rem;
    }

    .footer_links,
    .footer_links2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .footer_links li,
    .footer_links2 li {
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;
        border-bottom: none;
    }

    .footer_links li:hover {
        color: #B88E2F;
    }

    .footer_links>h6,
    .footer_links2>h6 {
        display: block;
        color: #9F9F9F;
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    .email_sub {
        display: flex;
        gap: 0.5rem;
    }

    .email_sub input {
        font-size: 0.875rem;
        padding-right: 1rem;
        border-bottom: 1px solid black;
    }

    .email_btn {
        font-size: 0.875rem;
        font-weight: 500;
        color: #000000;
        text-transform: uppercase;
        border-bottom: 1px solid black;
        transition: 0.3s;
    }

    .email_btn:hover {
        color: #B88E2F;
    }

    .arrow_btn {
        display: inline-block;
        position: absolute;
        background: #B88E2F;
        color: white;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        left: 92%;
        top: 60%;
    }
}