.blog {
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;
}

.blog_card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.blog_card>h3 {
    font-size: 0.75rem;
    font-weight: 500;
}

.blog_card>p {
    font-size: 0.5rem;
    color: #9F9F9F;
    line-height: 150%;
    text-align: justify;
}

.read_more {
    font-size: 0.5rem;
    font-weight: 500;
    /* border-bottom: 1px solid black; */
    display: inline-block;
    /* width: 15%; */
    text-align: start;
    text-decoration: underline;
    /* padding-bottom: 0.5rem; */
}

.blog_card_logo {
    display: flex;
    gap: 1rem;
    color: #9F9F9F;
    font-size: 1rem;
    font-weight: 500;
}

.blog_card_logo span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.65rem;
}

.blog_card img {
    width: 100%;
}

.blog_data {
    /* width: 70%;   */
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.blog_sidebar {
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.search_bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.search_bar input {
    /* width: 88%; */
    /* height: 3rem; */
    /* padding-left: 1rem; */
    padding: 0.35rem;
}

.search_btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-right: 0.5rem;
}

.blog_sidebar_search {
    display: flex;
    /* width: 80%; */
    border-radius: 0.625rem;
    justify-content: space-between;
    border: 1px solid #9F9F9F;
}

.sidebar_categories {
    display: flex;
    justify-content: space-between;
}

.sidebar_categories span {
    font-size: 1rem;
    font-weight: 500;
    color: #9F9F9F;
}

.blog_sidebar_categories,
.blog_sidebar_recent {
    display: none;
}

.blog_sidebar_recent {
    margin-top: 2rem;
}

.sidebar_recents {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recent_info {
    display: flex;
    flex-direction: column;
}

.recent_info :nth-child(1) {
    font-size: 0.875rem;
    font-weight: 500;
}

.recent_info :nth-child(2) {
    font-size: 0.75rem;
    font-weight: 500;
    color: #9F9F9F;
}

@media (min-width:1024px) {
    .blog {
        padding: 3rem 5rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }

    .blog_card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .blog_card>h3 {
        font-size: 1.875rem;
        font-weight: 500;
    }

    .blog_card>p {
        font-size: 0.9375rem;
        color: #9F9F9F;
        line-height: 150%;
        text-align: justify;
    }

    .read_more {
        font-size: 1rem;
        font-weight: 500;
        border-bottom: 1px solid black;
        display: inline-block;
        padding-bottom: 0.3rem;
        width: 9%;
    }

    .blog_card_logo {
        display: flex;
        gap: 1rem;
        color: #9F9F9F;
        font-size: 1rem;
        font-weight: 500;
    }

    .blog_card_logo span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .blog_card img {
        width: 100%;
    }

    .blog_data {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .blog_sidebar {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .search_bar {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .search_bar input {
        width: 88%;
        height: 3rem;
        padding-left: 1rem;
    }

    .search_btn {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    .blog_sidebar_search {
        display: flex;
        width: 80%;
        border-radius: 0.625rem;
        justify-content: space-between;
        border: 1px solid #9F9F9F;
    }

    .sidebar_categories {
        display: flex;
        justify-content: space-between;
    }

    .sidebar_categories span {
        font-size: 1rem;
        font-weight: 500;
        color: #9F9F9F;
    }

    .blog_sidebar_categories,
    .blog_sidebar_recent {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 70%;
    }

    .blog_sidebar_recent {
        margin-top: 2rem;
    }

    .sidebar_recents {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .recent_info {
        display: flex;
        flex-direction: column;
    }

    .recent_info :nth-child(1) {
        font-size: 0.875rem;
        font-weight: 500;
    }

    .recent_info :nth-child(2) {
        font-size: 0.75rem;
        font-weight: 500;
        color: #9F9F9F;
    }
}