* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}


/* ::-webkit-scrollbar {
  display: none;
} */

:root {
  --pri_clr: #B88E2F;
  --sec_clr: #000000;
  --bg_clr: #ffffff;

  --txt_clr: var(--pri_clr);
  --fade_txt: #616161;

}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg_clr);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.0625rem;
  color: var(--pri_clr);
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #3A3A3A;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--sec_clr);

}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--sec_clr);

}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

textarea:focus,
input:focus {
  outline: none;
}

input {
  background: transparent;
  border: none;
  color: #9F9F9F;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

Link {
  cursor: pointer;
  transition: 0.3s;
}

Link:hover {
  opacity: 0.8;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  color: #616161;
}

.footer_wrapper {
  position: relative;
}

.footer_wrapper::before,
.footer_wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
}

.footer_wrapper::before {
  top: 0;
}

.footer_wrapper::after {
  bottom: 0;
  width: 80%;
  left: 10%;
}

.rights {
  padding: 1.5rem 3rem;
}

/* 
.sidebar_container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.sidebar_main {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
} */