* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}


/* ::-webkit-scrollbar {
  display: none;
} */

:root {
  --pri_clr: #B88E2F;
  --sec_clr: #000000;
  --bg_clr: #ffffff;

  --txt_clr: var(--pri_clr);
  --fade_txt: #616161;

}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg_clr);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--pri_clr);
}

/* h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #3A3A3A;
} */

/* h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--sec_clr);

} */

/* h4 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--sec_clr);

} */

/* h5 {
  font-size: 1rem;
  font-weight: 600;
} */

h6 {
  font-size: 0.875rem;
  font-weight: 500;
}

p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: auto;
  color: #616161;
}

@media (min-width:1024px) {
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.0625rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 700;

  }

  h5 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h6 {
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

input {
  background: transparent;
  border: none;
  color: #9F9F9F;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

Link {
  cursor: pointer;
  transition: 0.3s;
}

Link:hover {
  opacity: 0.8;
}

.footer_wrapper {
  position: relative;
}

.footer_wrapper::before,
.footer_wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
}

.footer_wrapper::before {
  top: 0;
}

.footer_wrapper::after {
  bottom: 0;
  width: 80%;
  left: 10%;
}

.rights {
  padding: 1.5rem 3rem;
}